* {
  text-align: center
}
.principal {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 39, 39, 0.329);
}
.principal a {
  color: white;
  text-decoration: none;
}
.princpial a:hover {
  color: wheat;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter button {
  padding: .5rem;
  margin: .4rem;
}
